.grading-layout {
  display: flex;
  gap: 10px;
  width: 100%;
  margin: 20px auto;

  height: 85vh;     
  overflow: hidden;  
}

.grading-left {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;   /* scroll inside */
  padding-right: 5px;
}

.grading-right {
  flex: 6;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

  height: 100%;       
  overflow-y: auto;
}

/* WEIGHT BOX */
.weight-box {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.weight-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.weight-btn {
  background: #fff7d1;
  border: 2px solid #e2c948;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.weight-btn:hover {
  background: #e2c948;
}

.weight-btn.active {
  background: #FFC727;;
}

.btns {
  margin-top: auto; /* pushes to bottom */
  display: flex;
  gap: 10px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFC727;;
  padding: 10px;
  border-radius: 12px;
  gap: 5px;
}

.title11 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}
.compare-btn1 {
  padding: 10px ;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;

}
.cancel-btn1 {
  padding: 10px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;

}

.upload-box1 {
  width: 93%;
  max-height: 400px;   /* 👈 limit height instead of full screen */

  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;    /* 👈 scroll ONLY inside box */
 
  background-color: #FFC727;
  border-radius: 10px;
}
.dl-but11{
  position: absolute;
  bottom: 50px;
  left: 92%;

  background: rgb(251, 222, 0);
  border-radius: 20px;
  padding: 8px 16px;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}

.dl-but:hover{

  background: rgb(251, 109, 0);
}

.weight-btn.active {
  background: #ff7d27;
  border: 2px solid black;
  transform: scale(1.05);
}
