.header {
  background-color: #FFC727;;
  width: 99%;
  padding: 10px;
  border-radius: 15px;

  display: flex;
  align-items: center;
  gap: 15px;
}

.sidebar-btns {
  width: 45px;
  height: 45px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  box-sizing: border-box;

  line-height: 1;   /* IMPORTANT FIX */
  font-size: 18px;  /* control icon size */
}