.result-table {
  width: 100%;
  margin: 20px auto;
  background: rgb(236, 136, 136);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

  
  overflow-y: auto;  
  max-height: 550px; 

}

/* header + rows layout */
.table-header,
.table-row {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  padding: 14px;
  text-align: center;
  align-items: center;
}

.title2 {
  color: #000;
  border-radius: 10px;
  height: 60px;
  padding: 30px;
  margin-bottom: 20px;
  content: center;
}

/* header */
.table-header {
 display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  padding: 14px;
  text-align: center;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 1;

  background: #FFC727;;
  font-weight: bold;
}

/* rows */
.table-row {
 display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  padding: 14px;

    background: rgb(255, 255, 255);
   transition: 0.2s ease;
   overflow: hidden;
     min-width: 0;
}

.table-row:nth-child(even) {
   background: #ffefa0;
}


/* hover effect (this makes it feel “real”) */
.table-row:hover {
    background: #e2c948;
}

/* last row clean */
.table-row:last-child {
  border-bottom: none;
}
.table-row span {
  border-right: 2px solid rgba(0,0,0,0.1);

   min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

   display: flex;
  justify-content: center;
  align-items: center;
}

.table-row span:last-child,
.table-header span:last-child {
  border-right: none;
}

.egg2 {
  position: absolute;
  bottom: -40px;
  left: -40px;

  width: 50%; 
  height: 50%; 
z-index: -1; 

  transform: rotate(180deg);
}
.dl-but1{
  position: absolute;
  bottom: 50px;
  left: 90%;

  background: rgb(54, 227, 74);
  border-radius: 20px;
  padding: 8px 16px;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}

.dl-but1:hover{

  background: rgb(251, 234, 0);
}