/* MAIN LAYOUT */

.result-layout1 {
  display: flex;
  gap: 20px;
  width: 100%;
  margin: 20px auto;
  min-height: 80vh;
  align-items: stretch;
}

.dl-but{
  position: absolute;
  bottom: 50px;
  left: 51%;

  background: rgb(251, 222, 0);
  border-radius: 20px;
  padding: 8px 16px;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}

.dl-but:hover{

  background: rgb(251, 109, 0);
}

.table-wrapper1 {
  flex: 6; /* bigger side */
  height: 600px;
  overflow-y: auto;

  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.357);
}


.mistake-panel1 {
  flex: 4; /* smaller side */
  height: 600px;
  overflow-y: auto;

  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.357);

  padding: 0;
}

/* TABLE */

.result-table1 {
  width: 100%;
}


/* TABLE HEADER */

.table-header1 {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  padding: 14px;
  text-align: center;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 1;

  background: #FFC727;;
  font-weight: bold;
}

/* TABLE cCOLS */
.table-row1 span {
  border-right: 2px solid rgba(0,0,0,0.1);
   min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

   display: flex;
  justify-content: center;
  align-items: center;
}

.table-row1 span:last-child,
.table-header1 span:last-child {
  border-right: none;
}


/* TABLE ROWS */

.table-row1 {
 display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  padding: 14px;
  
  
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #eee;

   transition: 0.2s ease;
   overflow: hidden;
     min-width: 0;
}
.table-row1:nth-child(even) {
   background: #ffefa0;
}

.table-row1:hover {
  background: #e2c948;
}

.table-row1:last-child {
  border-bottom: none;
}

/* NEKOis the HEADER for mistake */

.nekobox1 {
  position: sticky;
  top: 0;
  z-index: 10;

  background: #FFC727;;
  font-weight: bold;
  align-items: center;
  
  display: flex;
 justify-content: space-between;

  padding: 14px;
  margin: 0;

  border-radius: 10px 10px 0 0;

}


/* MISTAKE CONTENT */

.mistake-box1 {
  padding: 20px;
  background: rgb(244, 236, 176);
  min-height: 1000px; 
}


/* TITLE */

.title1 {
  background-color: #fbd988;
  color: #000;
  border-radius: 10px;
  height: 60px;
  padding: 30px;
  margin-bottom: 20px;
  content: center;
}

.egg2 {
  position: absolute;
  bottom: -40px;
  left: -40px;

  width: 50%; 
  height: 50%; 
  z-index: -1; 

  transform: rotate(180deg);
}

.compare-btn1,
.cancel-btn1 {
  width: 100%;
  padding: 12px;

  color: #000;
  font-size: 15px;
  cursor: pointer;

  border: none;
  border-radius: 10px;
  z-index: 1px;
}